.sidebar-container {
  position: relative;
}

.open-navigation {
  position: absolute;
  top: 35%;
  left: 100%;
  border: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 1rem 0.4rem 1rem 0.2rem;
  /* transform: translateY(-100%); */
  background-color: var(--open-tab-color);
  cursor: pointer;
  z-index: 1;
}

.open-navigation span {
  color: var(--color-background);
  display: block;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30rem; /*TODO fix*/
  height: 100vh;
  max-height: 100vh;
  gap: 5rem;
  z-index: 1;
  transition: all 0.5s linear;
  overflow-x: hidden;
  position: relative;
  border-right: 2px solid var(--color-sidebar-right-border);
}

.sidebar.close {
  width: 0;
  border: none;
}

.sidebar-container:has(.sidebar.close) {
  border-right: 2px solid var(--color-sidebar-right-border);
}

.sidebar * {
  white-space: nowrap;
}
.sidebar-top {
  display: flex;
  flex-direction: column;
}
.sidebar-bottom {
  display: flex;
  flex-direction: column;
}

button.btn {
  display: flex;
  align-items: center;
}

button.btn img {
  height: 1.3rem;
  width: auto;
  object-fit: cover;
}
